:root {
  --animacao_tempo: 0.5s;
  --nav_color: #43476b;
  --texto_main_cor: #2b2b33;
  --box_shadow_cor: #1f1f5d;
  --cor_fundo: #ffffff;

  --nav_hover: #f1f1f1;
  --cor_botao_hover: #929dff;
  --cor_link_selecionado: #43476b;
  --cor_botao_git: #2b2b33;
  --cor_botao_contatos: #43476b;
  --cor_botao_contatos_hover: #2b2b33;

  --blur_github_botao: blur(1.5rem);
}

.dark_theme {
  --nav_color: #ffffff;
  --texto_main_cor: #f1f1f1;
  --box_shadow_cor: #4f4f4f;
  --cor_fundo: #212121;
  --nav_hover: #414141;
  --cor_botao_hover: #929dff;
  --cor_link_selecionado: #ffffff;
  --cor_botao_git: #ffffff;
  --blur_github_botao: blur(0.1rem);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", "Arial", "Sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--cor_fundo);
}

/* Header */

header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  height: 50px;
  position: fixed;
  z-index: 4;
  background-color: var(--cor_fundo);
  height: fit-content;
  box-sizing: border-box;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > ul {
  columns: 4;
  list-style: none;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
  border-radius: 10px 0px 0px 0px;
}

.navLinks > a,
.navLinks > a:visited {
  color: var(--nav_color);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  width: 85px;
  text-wrap: nowrap;
  transition: background-color 0.5s ease;
}

.navLinks:hover {
  background-color: var(--nav_hover);
}

.link_selecionado {
  border-bottom: solid 1px var(--cor_link_selecionado);
}

/* Main */

main h1 {
  margin-bottom: 10px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 100px;
  padding: 0px 10px;
  height: 100%;
  min-height: 1000px;
  color: var(--texto_main_cor);
}

.mostrar {
  opacity: 100% !important;
}

/*Botao DarkMode*/
.container-mudar-cor {
  position: absolute;
  top: 60px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.container-mudar-cor > p {
  font-weight: bold;
  color: var(--nav_color);
}

#alterarTema {
  display: none;
}

#botaoMudarCor {
  width: 60px;
  height: 30px;
  box-shadow: 0px 0px 3px var(--box_shadow_cor);
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 2px;
}

#labelBotaoDarkMode {
  display: block;
  width: 26px;
  height: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px #e7e727;
  transition: transform 1s ease;
  cursor: pointer;
  padding: 1px 1px 0px 0px;
}

#labelBotaoDarkMode::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: #e7e727;
  width: 22px;
  height: 22px;
}

#alterarTema:checked + #labelBotaoDarkMode {
  background-color: transparent;
  transform: translate(29px, 0px) rotate(180deg);
  border: solid 1px white;
}

#alterarTema:checked + #labelBotaoDarkMode::before {
  background-color: white;
  transform: translate(-95%, -50%);
  border-radius: 50%;
  height: 20px;
}

/* Sobre mim */

.sobremim_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  column-gap: 30px;
  row-gap: 30px;
  opacity: 0%;
  transition: opacity var(--animacao_tempo) ease;
}

.texto_sobremim {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sobremim_container > .texto_sobremim > p {
  width: 650px;
  font-size: 1.375rem; /* 22px */
  margin-top: 10px;
}

#imagem_autor {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px var(--box_shadow_cor);
}

.tecnologias_container {
  margin-top: 10%;
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.containerImagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}

.containerImagem > p {
  font-weight: bold;
}

.tecnologiasImagens {
  width: 50px;
  aspect-ratio: 6 / 6;
}

/* Projetos */

.container-projetos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0%;
  transition: opacity var(--animacao_tempo) ease;
  padding-top: 50px;
  row-gap: 20px;
  margin-bottom: 20px;
}

.container-projetos-principais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}

.projetos-principais-item {
  height: 300px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px var(--box_shadow_cor);
  border-radius: 10px;
  border: none;
}

.container-imagens-pequenas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.imgProjeto1 {
  width: 60px;
}

.imgProjeto2 {
  width: 200px;
}

.imgProjeto3 {
  width: 150px;
}

.container-texto-projeto {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-texto-projeto > p {
  text-align: center;
  height: 80px;
}

.container-texto-projeto > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  column-gap: 5px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 3px var(--box_shadow_cor);
  cursor: pointer;
  background-color: var(--cor_fundo);
  transition: background-color 0.5s ease;
  color: var(--texto_main_cor);
}

.container-texto-projeto > button:hover {
  background-color: var(--cor_botao_hover);
}

.containerImagemGit > img {
  width: 20px;
}

.tecnologias_container_projetos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

.tecnologiasImagensPequenas {
  width: 30px;
  aspect-ratio: 6 / 6;
}

.projetos-principais-githublink {
  height: 300px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px var(--box_shadow_cor);
  border-radius: 10px;
  border: none;
  position: relative;
}

.projetos-principais-githublink > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  column-gap: 5px;
  height: 50px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 3px var(--box_shadow_cor);
  cursor: pointer;
  background-color: var(--cor_fundo);
  transition: background-color 0.5s ease;
  font-size: 19px;
  font-weight: bold;
  position: relative;
  color: var(--cor_botao_git);
}

@property --angulo {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gitHubButton::after,
.gitHubButton::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    from var(--angulo),
    var(--box_shadow_cor),
    white,
    var(--box_shadow_cor)
  );
  z-index: -1;
  padding: 3px;
  border: none;
  border-radius: 10px;
  animation: 5s spin linear infinite;
}

.gitHubButton::before {
  filter: var(--blur_github_botao);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angulo: 0deg;
  }
  to {
    --angulo: 360deg;
  }
}

.gitHubButton > img {
  width: 30px;
}

.github-link-img {
  position: absolute;
  opacity: 10%;
  width: 200px;
  z-index: -2;
}

/* Contatos */

.container-contatos {
  height: 100vh;
  padding-top: 50px;
  opacity: 0%;
  transition: opacity var(--animacao_tempo) ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 50%;
  min-width: 320px;
  position: relative;
}

.container-contatos-formacao > h2 {
  align-self: flex-start;
  z-index: 1;
}

.container-contato {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  z-index: 1;
}

.container-contato > p {
  width: 70px;
}

.container-contato > a {
  text-decoration: none;
  background-color: var(--cor_botao_contatos);
  border-radius: 10px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  color: white;
  transition: background-color 0.5s ease;
  width: 100%;
  max-width: 300px;
}

.container-contato > a:hover {
  background-color: var(--cor_botao_contatos_hover);
}

.contatos-imgs {
  width: 30px;
}

.container-contatos > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 10%;
  width: 100%;
  max-width: 500px;
}

/* Formação */

.container-formacao {
  height: 100vh;
  padding-top: 50px;
  opacity: 0%;
  transition: opacity var(--animacao_tempo) ease;
  position: relative;
}

.container-formacao ul {
  list-style: none;
}

.container-formacao > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 20%;
  width: 100%;
  max-width: 500px;
}

/* Footer */

footer {
  color: var(--nav_color);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 10px;
}

/* Responsividade */

@media screen and (max-width: 1115px) {
  .sobremim_container {
    flex-direction: column;
    padding-top: 100px;
  }

  header > nav {
    width: 100%;
  }

  header > nav > ul {
    font-size: 0.875rem; /* 14px */
  }

  .projetos-principais-item {
    flex-direction: column;
    row-gap: 10px;
    height: auto;
  }

  .navLinks > a:hover {
    background-color: var(--cor_fundo);
  }

  main h1 {
    font-size: 25px;
    text-align: center;
  }

  .tecnologiasImagens {
    width: 40px;
  }

  .navLinks > a {
    width: 70px;
  }
}

@media screen and (max-width: 700px) {
  #imagem_autor {
    width: 200px;
    height: 200px;
  }

  .sobremim_container > .texto_sobremim > p {
    text-align: justify;
    width: 100%;
    font-size: 0.9375rem; /* 15px */
  }

  .container-texto-projeto > p {
    height: auto;
  }

  .imgProjeto1 {
    width: 40px;
  }

  .imgProjeto2 {
    width: 140px;
  }

  .imgProjeto3 {
    width: 90px;
  }

  header > nav > ul {
    columns: 4;
    list-style: none;
    font-size: 0.8125rem; /* 13px */
  }

  .navLinks > a {
    padding: 0px;
  }

  .containerImagem > p {
    font-size: 10px;
  }

  .container-contato > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-projetos {
    padding-top: 80px;
  }

  .container-contatos {
    height: 60vh;
    padding-top: 80px;
  }

  .container-formacao {
    padding-top: 80px;
  }
}

@media screen and (max-height: 500px) {
  .sobremim_container {
    height: 100%;
  }
}
